body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 18px;
    margin: 0;
}

header {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 16px;
}

header .content {
    display: flex;
    align-items: center;
}

header, a {
    text-decoration: none;
    color: #E5E7EB;
}

header img {
    width: 45px;
    height: 45px;
}

header, #sec-info {
    background-color: #1F2937;
    color: #E5E7EB;
}

header h1 {
    font-size: 24px;
    color: #F9FAF8;
    font-size: bold;
}

#sec-info h1 {
    font-size: 48px;
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#sec-info {
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    gap: 13px;
}

#sec-info .text, #sec-info img {
    flex: 1;
}

#sec-info img {
    width: 500px;
    height: 250px; 
    /* object-fit: contain;  */
    object-fit: cover;
    object-position: 10% 12%;
}

button {
    padding: 4px 30px;
    color: white;
    background-color: #3882f6;
    border: none;
    border-radius: 6px;
}

#sec-members {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 80px;
    padding-top: 20px;
}

#sec-members h2 {
    font-size: 45px;
    color: #1f2937;
    font-weight: 900;
}

#sec-members .container .image{
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #3882f6;
    /* padding: 50px; */
    width: 150px;
    height: 150px;
    overflow: hidden;
}

#sec-members .container {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#sec-members .container p {
    font-weight: bold;
}

#sec-members .container span {
    font-weight: 300;
}

#sec-members .container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-us {
    display: flex;
    justify-content: center;
    gap: 200px;
    background-color: #E5E7EB;
    color: #1f2937;
    padding-bottom: 80px;
    padding-top: 20px;
}

#about-us p {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

li {
    list-style: none;
    margin-bottom: 16px;
    font-size: 20px;
}